.current_day{
	width: 14%;
    height: 150px;
    border: 1px solid #eee;
    display: block;
    float: left;
	color:#fff;
    background-color: #2CA7F8;
    text-align: left;
    overflow: hidden
}
.day{
	width: 14%;
    height: 150px;
    border: 1px solid #eee;
    display: block;
    float: left;
    background-color: #fff;
    text-align: left;
    overflow: hidden
}
.day:hover{
	background-color: #eee
}	
.event_day = {

    font-size: 16px;
    background-color: #2CA7F8;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff
}